{% extends "data_visualization/base.html" %}

{% block styles %}
{{ block.super }}
<style>
    #viz-client-container {
        width: 100% !important;
        height: 100% !important;
    }
</style>
{% endblock %}

{% block content %}
<iframe
    src="https://public.tableau.com/views/webgis_health/Tableaudebord1?:embed=y&amp;:showVizHome=no&amp;:host_url=https%3A%2F%2Fpublic.tableau.com%2F&amp;:embed_code_version=3&amp;:tabs=no&amp;:toolbar=yes&amp;:animate_transition=yes&amp;:display_static_image=no&amp;:display_spinner=no&amp;:display_overlay=no&amp;:display_count=no&amp;:language=en-US&amp;:loadOrderID=0"
    frameborder="0" style="width: 100%; height: 100%;"></iframe>
{% endblock %}
