{% extends "data_visualization/base.html" %} 
{% load static %} 
{% block content %}
<div id="map"></div>
<button class="layer-button-box" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLayer" aria-controls="offcanvasLayer">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layers-fill" viewBox="0 0 16 16">
        <path d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882z" />
        <path d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0z" />
    </svg>
</button>

<!-- Box hiển thị thông tin cơ sở y tế -->
<div class="data-info-table d-none" id="data-info-table">
    <div class="data-info-table__nav">
        <p id="data-info-table__title">Thông tin cơ sở y tế</p>
        <button id="data-info-table__close-btn" type="button" class="btn close-offcanvas-layer-btn">
            <span>Đóng</span>
        </button>
    </div>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>Key</td>
                <td>Value</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="data-info-table d-none" id="data-info-table-population">
    <div class="data-info-table__nav">
        <p id="data-info-table__title">Thông tin mật độ dân số</p>
        <button id="data-info-table-population__close-btn" type="button" class="btn close-offcanvas-layer-btn">
            <span>Đóng</span>
        </button>
    </div>

    <table class="table table-bordered table-striped" id="data-info-table-population__table">
        <tbody>
            <tr>
                <td>Key</td>
                <td>Value</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Offcanvas chọn layer -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasLayer" aria-labelledby="offcanvasLayerLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLayerLabel">Lớp bản đồ</h5>
        <button type="button" class="btn close-offcanvas-layer-btn" data-bs-dismiss="offcanvas" aria-label="Đóng">
            <span>Thu nhỏ</span>
        </button>
    </div>
    <div class="offcanvas-body">
        <!-- Hiển thị các thành phần bản đồ -->
        <!-- Tìm kiếm  -->
        <div class="collapse-header" data-bs-toggle="collapse" data-bs-target="#search-collapse" aria-expanded="false"
            aria-controls="search-collapse">
            <div class="d-flex" style="align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layers-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882z" />
                    <path
                        d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0z" />
                </svg>
                <h6 style="margin-left: 8px;">Tìm kiếm</h6>
            </div>
            <span class="icon" id="search-toggle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="000" class="bi bi-chevron-down"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.646 4.854a.5.5 0 0 1 .708 0L8 10.5l5.646-5.646a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </span>
        </div>
        <div class="collapse multi-collapse" id="search-collapse">
            <div class="p-3">
        
                <!-- CHỌN LOẠI CƠ SỞ -->
                <div class="mb-3">
                    <label class="form-label">Loại cơ sở y tế</label>
                    <div id="type-checkboxes">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="hospital" id="type-hospital">
                            <label class="form-check-label" for="type-hospital">Bệnh viện</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="clinic" id="type-clinic">
                            <label class="form-check-label" for="type-clinic">Trạm xá/Phòng khám</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="doctor" id="type-doctor">
                            <label class="form-check-label" for="type-doctor">Phòng khám tư nhân</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="pharmacy" id="type-pharmacy">
                            <label class="form-check-label" for="type-pharmacy">Nhà thuốc</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="dentist" id="type-dentist">
                            <label class="form-check-label" for="type-dentist">Nha khoa</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="vacxin" id="type-population">
                            <label class="form-check-label" for="type-population">Trung tâm tiêm chủng</label>
                        </div>
                    </div>
                </div>
        
                <!-- TỪ KHÓA CƠ SỞ Y TẾ -->
                <div class="mb-3">
                    <label for="search-keyword" class="form-label">Tên cơ sở y tế</label>
                    <select class="form-select" id="search-keyword">
                        <option value="">-- Chọn tên cơ sở --</option>
                        <!-- JS sẽ thêm động -->
                    </select>
                </div>
        
                <!-- VỊ TRÍ -->
                <div class="mb-3 position-relative">
                    <label for="search-location" class="form-label">Vị trí của bạn</label>
                    <input type="text" class="form-control" id="search-location"
                        placeholder="Nhập địa chỉ" autocomplete="off">
                    <ul id="suggestions" class="list-group position-absolute w-100" style="z-index: 1000;"></ul>
                </div>
                <!-- NÚT CHỨC NĂNG -->
                <div class="d-flex gap-2">
                    <button id="btn-nearest" type="button" class="btn btn-success w-50">Tìm 5 cơ sở gần nhất</button>
                    <button id="btn-shortest" type="button" class="btn btn-primary w-50">Tìm đường ngắn nhất</button>
                </div>
            </div>
        
            <!-- KẾT QUẢ HIỂN THỊ -->
            <div id="nearest-results" class="p-3"></div>
        </div>        
        <hr>
        <!-- Lớp mạng lưới cơ sở y tế -->
        <div class="collapse-header" data-bs-toggle="collapse" data-bs-target="#health-layer-collapse" aria-expanded="false" aria-controls="health-layer-collapse">
            <div class="d-flex" style="align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layers-fill" viewBox="0 0 16 16">
                    <path d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882z" />
                    <path d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0z" />
                </svg>
                <h6 style="margin-left: 8px;">Mạng lưới cơ sở y tế</h6>
            </div>
            <span class="icon" id="health-layer-toggle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="000" class="bi bi-chevron-down"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.646 4.854a.5.5 0 0 1 .708 0L8 10.5l5.646-5.646a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </span>
        </div>
        <div class="collapse multi-collapse" id="health-layer-collapse">
            <div class="health-layers layer-items">
                <div class="layer-item">
                    <div class="form-check form-switch" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="checkbox" role="switch" id="switch-01" />
                        <label class="form-check-label" for="switch-01">Bệnh viện</label>
                    </div>
                    
                </div>
            </div>
            <div class="health-layers layer-items">
                <div class="layer-item">
                    <div class="form-check form-switch" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="checkbox" role="switch" id="switch-02" />
                        <label class="form-check-label" for="switch-01">Trạm y tế / phòng khám</label>
                    </div>
            
                </div>
            </div>
            <div class="health-layers layer-items">
                <div class="layer-item">
                    <div class="form-check form-switch" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="checkbox" role="switch" id="switch-03" />
                        <label class="form-check-label" for="switch-01">Nha khoa</label>
                    </div>
            
                </div>
            </div>
            <div class="health-layers layer-items">
                <div class="layer-item">
                    <div class="form-check form-switch" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="checkbox" role="switch" id="switch-04" />
                        <label class="form-check-label" for="switch-01">Nhà thuốc</label>
                    </div>
            
                </div>
            </div>
            
        </div>
        <hr>
        <!-- Mật độ dân số -->
        <div class="collapse-header" data-bs-toggle="collapse" data-bs-target="#population-layer-collapse" aria-expanded="false"
            aria-controls="population-layer-collapse">
            <div class="d-flex" style="align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layers-fill" viewBox="0 0 16 16">
                    <path d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882z" />
                    <path d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0z" />
                </svg>
                <h6 style="margin-left: 8px;">Mật độ dân số 1km năm 2020 </h6>
            </div>
            <span class="icon" id="population-layer-toggle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="000" class="bi bi-chevron-down"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.646 4.854a.5.5 0 0 1 .708 0L8 10.5l5.646-5.646a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </span>
        </div>
        <div class="collapse multi-collapse" id="population-layer-collapse">
            <div class="population-layers layer-items" style="padding-right:0px ;">
                <div class="layer-item form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switch-population" />
                    <label class="form-check-label" for="switch-population">Mật độ dân số</label>
                </div>
            </div>
        </div>
        <hr>
        <!-- Lớp bản đồ nền -->
        <div class="collapse-header" data-bs-toggle="collapse" data-bs-target="#bg-layer-collapse" aria-expanded="false" aria-controls="bg-layer-collapse">
            <h6>Bản đồ nền</h6>
            <span class="icon" id="bg-layer-toggle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="000" class="bi bi-chevron-down"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.646 4.854a.5.5 0 0 1 .708 0L8 10.5l5.646-5.646a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </span>
        </div>
        <div class="collapse multi-collapse" id="bg-layer-collapse">
            <div class="background-layers layer-items" > 
                <div class="layer-item active" bg-layer-name="becagis">
                    <div class="layer-image"></div>
                    <p class="layer-name">Mặc định</p>
                </div>
        
                <div class="layer-item" bg-layer-name="streets">
                    <div class="layer-image"></div>
                    <p class="layer-name">Đường phố</p>
                </div>
        
                <div class="layer-item" bg-layer-name="satellite">
                    <div class="layer-image"></div>
                    <p class="layer-name">Vệ tinh</p>
                </div>
        
                <div class="layer-item" bg-layer-name="topo">
                    <div class="layer-image"></div>
                    <p class="layer-name">Địa hình</p>
                </div>
        
                <div class="layer-item" bg-layer-name="openstreetmap">
                    <div class="layer-image"></div>
                    <p class="layer-name">Open Street Map</p>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer" style="text-align: center;">
        <!-- <img src="{% static 'data_visualization/images/logo.png' %}" width="32" height="32" /> -->
        <p style="font-size: 12px; margin-top: 4px;">© Copyright 2025 WEBGIS Y tế đô thị</p>
    </div>
</div>

<div class="legend-box">
    <div class="legend-scrollable">
        <div class="layer-legend d-none" id="hospital-legend">
            <p class="mt-2 fw-bold text-primary"><i>Bệnh viện</i></p>
            <div class="layer-legend__item">
                <div class="tag-circle" style="background-color: #d73027;"></div>
                <span class="legend-text">Điểm</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #d73027;"></div>
                <span class="legend-text">Vùng</span>
            </div>
        </div>
        <div class="layer-legend d-none" id="clinics-doctors-legend">
            <p class="mt-2 fw-bold text-primary"><i>Trạm y tế/Phòng khám</i></p>
            <div class="layer-legend__item">
                <div class="tag-circle" style="background-color: #FFCC00;"></div>
                <span class="legend-text">Điểm</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #FFCC00;"></div>
                <span class="legend-text">Vùng</span>
            </div>
        </div>
        <div class="layer-legend d-none" id="dentists-legend">
            <p class="mt-2 fw-bold text-primary"><i>Nha khoa</i></p>
            <div class="layer-legend__item">
                <div class="tag-circle" style="background-color: #91bfdb;"></div>
                <span class="legend-text">Điểm</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #91bfdb;"></div>
                <span class="legend-text">Vùng</span>
            </div>
        </div>
        <div class="layer-legend d-none" id="pharmacies-legend">
            <p class="mt-2 fw-bold text-primary"><i>Nhà thuốc</i></p>
            <div class="layer-legend__item">
                <div class="tag-circle" style="background-color: #1a9850;"></div>
                <span class="legend-text">Điểm</span>
            </div><div class="layer-legend__item">
                <div class="tag-square" style="background-color: #1a9850;"></div>
                <span class="legend-text">Vùng</span>
            </div>
        </div>
        <div class="d-none" id="population-legend">
            <p class="mt-2 fw-bold text-primary"><i>Mật độ dân số 2020 (người/km²)</i></p>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #ffffcc;"></div>
                <span class="legend-text">0 - 10</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #e0f3db;"></div>
                <span class="legend-text">10 - 50</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #ccebc5;"></div>
                <span class="legend-text">50 - 100</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #a8ddb5;"></div>
                <span class="legend-text">100 - 500</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #7bccc4;"></div>
                <span class="legend-text">500 - 1000</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #4eb3d3;"></div>
                <span class="legend-text">1000 - 5000</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #2b8cbe;"></div>
                <span class="legend-text">5000 - 10000</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #0868ac;"></div>
                <span class="legend-text">10000 - 20000</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #084081;"></div>
                <span class="legend-text">20000 - 50000</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #081d58;"></div>
                <span class="legend-text">50000 - 100000</span>
            </div>
            <div class="layer-legend__item">
                <div class="tag-square" style="background-color: #041b4d;"></div>
                <span class="legend-text">> 100000</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'data_visualization/vendors/maplibre-gl@4.3.1/maplibre-gl.css' %}" />
<link href="{% static 'data_visualization/css/pages/home.css' %}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'data_visualization/vendors/chartjs@3.0.0/chart.min.js' %}" type="text/javascript"></script>
<script src="{% static 'data_visualization/vendors/maplibre-gl@4.3.1/maplibre-gl.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>

<!-- Script xử lý sự kiện đóng mở collapse -->
<script>
    const geojsonPath = "{% static 'data_visualization/data/ms.geojson' %}";

    $(document).ready(function() {
        // Lắng nghe sự kiện khi Offcanvas mở
        $('#offcanvasLayer').on('show.bs.offcanvas', function () {
            $('.legend-box').removeClass('fixed-div-close');
            $('.legend-box').addClass('fixed-div-open');
        });

        // Lắng nghe sự kiện khi Offcanvas đóng
        $('#offcanvasLayer').on('hide.bs.offcanvas', function () {
            $('.legend-box').removeClass('fixed-div-open');
            $('.legend-box').addClass('fixed-div-close');
        });
    });

    var svg_chevron_up = 
    `
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="000" class="bi bi-chevron-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 11.146a.5.5 0 0 0 .708 0L8 5.5l5.646 5.646a.5.5 0 0 0 .708-.708l-6-6a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 0 .708z"/>
        </svg>
    `;

    var svg_chevron_down = 
    `
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="000" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.854a.5.5 0 0 1 .708 0L8 10.5l5.646-5.646a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
    `;

    $(document).ready(function () {
        // Hàm đóng mở collapse
        function setupCollapseToggle(collapseId, toggleIconId) {
            // Lắng nghe sự kiện mở collapse
            $(collapseId).on("show.bs.collapse", function () {
                $(toggleIconId).html(svg_chevron_up);
            });
             // Lắng nghe sự kiện đóng collapse
            $(collapseId).on("hide.bs.collapse", function () {
                $(toggleIconId).html(svg_chevron_down);
            });
        }

        // Thiết lập cho các layer khác nhau
        setupCollapseToggle("#bg-layer-collapse", "#bg-layer-toggle-icon");
        setupCollapseToggle("#health-layer-collapse", "#health-layer-toggle-icon");
        setupCollapseToggle("#search-collapse", "#search-toggle-icon");
        setupCollapseToggle("#population-layer-collapse", "#population-layer-toggle-icon");

        // Hiển thị legend-2 và layer tương ứng
        function toggleLayer(switchId, layerId) {
            const isChecked = document.querySelector(`#${switchId}`).checked;

            map.setLayoutProperty(layerId, "visibility", isChecked ? "visible" : "none");
            layerId = layerId.split("-")[0];
            if (layerId == "clinics") {
                layerId = "clinics-doctors";
            }

            const legendElement = document.querySelector(`#${layerId}-legend`);

            if (isChecked) {
                legendElement.classList.remove("d-none");
            } else {
                legendElement.classList.add("d-none");
            }
        }

        // Gán sự kiện click cho tất cả các switch
        const layers = [
            { switchId: "switch-population", layerId: "population" },
            { switchId: "switch-01", layerId: "hospital-points"},
            { switchId: "switch-01", layerId: "hospital-polygons"},
            { switchId: "switch-02", layerId: "clinics-doctors-points"},
            { switchId: "switch-02", layerId: "clinics-doctors-polygons"},
            { switchId: "switch-03", layerId: "dentists-points"},
            { switchId: "switch-03", layerId: "dentists-polygons"},
            { switchId: "switch-04", layerId: "pharmacies-points"},
            { switchId: "switch-04", layerId: "pharmacies-polygons"},
        ];

        layers.forEach(function(layer) {
            $("#" + layer.switchId).on("click", function() {
                toggleLayer(layer.switchId, layer.layerId);
            });
        });

        // cho các layer lên trước
        const layersToBringToFront = [
            "hospital-points",
            "hospital-polygons",
            "clinics-doctors-points",
            "clinics-doctors-polygons",
            "dentists-points",
            "dentists-polygons",
            "pharmacies-points",
            "pharmacies-polygons"
        ];
        layersToBringToFront.forEach(function(layer) {
            map.moveLayer(layer);
        });

    });
</script>

<script src="{% static 'data_visualization/js/pages/home.js' %}"></script>

{% endblock %}
