*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.filter-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.filter-box input {
    border-radius: 0px;
    max-width: 400px;
}

.filter-box .btn {
    border-radius: 0px;
    font-size: 14px;
    padding: 4px 8px;
    height: 32.5px;
}

div.dt-container .top {
    margin-bottom: 8px;
}

div.dt-container .dt-search {
    display: none;
}

div.dt-container .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

div.dt-container .dt-input {
    border-radius: 0;
    margin-left: 8px;
}

.btn-edit, .delete-result-btn {
    height: 32px;
    padding: 4px 12px;
    border-radius: 2px;
    color: #fff;
}

.result-btn a:hover {
    color:#fff;
}

.result-btn button {
    color: red;
    font-weight: 500;
}

.result-btn button:hover {
    color: #fff;
}

.result-btn button.btn-edit {
    color: #0d6efd;
    background-color: #fff;
}

.result-btn button.btn-edit:hover {
    color: #fff;
    background-color: #0d6efd;
}


.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.25em;
}